<main class="flex-grow-1">

  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <h1>EMPLEADOS DEL MT</h1>
      {{> menu}}
    </div>

    <body>
      <div class="d-flex justify-content-between align-items-center">
        <input class="fw-medium border-2 rounded" type="text" id="busqueda" placeholder="Buscar...">
        {{#if (eq rol "admin")}}
        <a class="btn" data-bs-toggle="modal" data-bs-target="#agregarEmpleadoModal"><i
            class="bi bi-person-plus fs-1 text-success"></i></a>
        {{> modal_nuevo_empleado}}
        {{/if}}
      </div>

      <ul class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4 my-4 table-responsive">
        <table class="table align-middle table-striped table-hover text-center">
          <thead class='table-dark'>
            <tr>
              <th scope="col">Nro. ID</th>
              <th scope="col">IMAGEN</th>
              <th scope="col">EMPLEADO</th>
              <th scope="col">DNI</th>
              <th>OPCIONES</th>
            </tr>
          </thead>
          <tbody class='table-group-divider fs-5' id="tableBody">
            {{#each empleados}}
            <tr>
              <td>{{this.dataValues.id}}</td>
              <td> <img class="img-fluid" src="/assets/default_user.svg" alt="default user image" style="width: 2rem;">
              </td>
              <td>{{this.dataValues.nombre}} {{this.dataValues.apellido}}</td>
              <td>{{this.dataValues.dni}}</td>
              <td>
                <div class="d-flex justify-content-around">
                  <a class="btn fs-3" href='/main/employees/{{this.dataValues.id}}'><i
                      class="bi bi-box-arrow-in-right text-success"></i></a>
                  {{#if (eq ../rol "admin")}}
                  <a class="btn fs-4" onclick="deleteUser({{this.dataValues.id}})"><i
                      class="bi bi-x-circle text-danger"></i></a>
                  {{/if}}
                </div>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </ul>
    </body>

  </div>
</main>
<script src="/js/{{fileJs}}"></script>