{{> modal_equipo_a_persona}}
<main class="flex-grow-1">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex justify-content-start align-items-center my-2">
        <img src="/assets/default_user.svg" alt="default user image" style="width: 6rem;"
          class="border rounded-circle me-3">
        <h1>{{datosEmpleados.nombre}} {{datosEmpleados.apellido}} ID: {{datosEmpleados.id}}</h1>
      </div>
      <div class="d-flex justify-content-end">
        <a href="/main/employees"><button type="button" class="btn btn-primary btn-sm mx-1">volver</button></a>
      </div>
    </div>

    <body>
      <div class="container mb-5">
        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-body shadow">
                <h5 class="card-title mb-3">Información de la persona</h5>
                <div class="row">
                  {{#each datosEmpleados}}
                  {{#unless (eq @key "id")}}
                  {{#unless (eq @key "createdAt")}}
                  {{#unless (eq @key "updatedAt")}}
                  {{#unless (eq @key "deletedAt")}}
                  {{#unless (eq @key "OficinaId")}}
                  {{#unless (eq @key "EquipoInformaticos")}}
                  {{#unless (eq @key "MantenimientoDeEquipos")}}
                  {{#unless (eq @key "Oficina")}}
                  <div class="col-md-6">
                    <div class="mb-3">
                      <label for="{{@key}}" class="form-label fw-medium">{{@key}}</label>
                      <input type="text" class="form-control" id="{{@key}}" value="{{this}}" readonly>
                    </div>
                  </div>
                  {{/unless}}
                  {{/unless}}
                  {{/unless}}
                  {{/unless}}
                  {{/unless}}
                  {{/unless}}
                  {{/unless}}
                  {{/unless}}
                  {{/each}}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col">
            <div class="card">
              <div class="card-body shadow">
                <div class="d-flex justify-content-between">
                  <h5 class="card-title mb-3">Equipos asociados a la persona</h5>
                </div>
                <div class="row">
                  {{#each datosEquipos}}
                  {{#unless (eq datosEquipos null )}}
                  <div class="row m-2">
                    <div class="col">
                      <div class="card">
                        <div class="card-body shadow">
                          <div class="d-flex">
                            <div class="p-2 flex-fill fw-medium">
                              <label for="id" class="form-label fw-medium">ID</label>
                              <input type="text" class="form-control" id="id" value="{{this.dataValues.id}}" readonly>
                            </div>
                            <div class="p-2 flex-fill col-md-6 fw-medium">
                              <label for="tipoEquipo" class="form-label fw-medium">TIPO</label>
                              <input type="text" class="form-control" id="tipoEquipo"
                                value="{{this.dataValues.tipoEquipo}}" readonly>
                            </div>
                            <div class="p-2 flex-fill col-md-6 fw-medium">
                              <label for="marca" class="form-label fw-medium">MARCA</label>
                              <input type="text" class="form-control" id="marca" value="{{this.dataValues.marca}}"
                                readonly>
                            </div>
                            <div class="p-2 flex-grow-1 col-md-6 fw-medium">
                              <label for="modelo" class="form-label fw-medium">MODELO</label>
                              <input type="text" class="form-control" id="modelo" value="{{this.dataValues.modelo}}"
                                readonly>
                            </div>
                            <a href='/main/inventory/{{this.dataValues.id}}'><i
                                class="bi bi-box-arrow-in-right text-warning fs-2"></i></a>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  {{/unless}}
                  {{/each}}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col">
            <div class="card">
              <div class="card-body shadow">
                <div class="d-flex justify-content-between">
                  <h5 class="card-title mb-3">Oficina asociada al empleado</h5>
                  {{#if (eq rol "admin")}}
                  {{#unless (eq oficinaEquipos null)}}
                  {{!-- cambiar oficina? --}}
                  {{/unless}}
                  {{/if}}
                </div>
                <div class="row">
                  <div class="row m-2">
                    <div class="col">
                      <div class="card">
                        {{#if (eq oficinaEquipos null )}}
                        <div class="card-body shadow">
                          <div class="d-flex">
                            <div class="p-2 flex-fill col-md-1 fw-medium">
                              <label for="id" class="form-label fw-medium">Fecha creado</label>
                              <input type="text" class="form-control" id="id"
                                value="{{oficinaEquipos.dataValues.createdAt}}" readonly>
                            </div>
                            <div class="p-2 flex-fill col-md-1 fw-medium">
                              <label for="id" class="form-label fw-medium">Fecha actualizado</label>
                              <input type="text" class="form-control" id="id"
                                value="{{oficinaEquipos.dataValues.updatedAt}}" readonly>
                            </div>
                            <div class="p-2 flex-fill col-md-6 fw-medium">
                              <label for="tipoEquipo" class="form-label fw-medium">Descripcion</label>
                              <input type="text" class="form-control" id="tipoEquipo"
                                value="{{oficinaEquipos.dataValues.descripcion}}" readonly>
                            </div>
                            <a href='/main/mantenimiento/{{oficinaEquipos.dataValues.id}}'><i
                                class="bi bi-box-arrow-in-right text-warning fs-2"></i></a>
                          </div>
                        </div>
                        {{/if}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </body>

  </div>
</main>
<script src="/js/{{fileJs}}"></script>