<main class="flex-grow-1">

  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <h1>Empleados del MT</h1>
      {{> menu}}
    </div>

    <ul class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4 my-4">
      <table class="table table-striped table-hover text-center">
        <thead class='table-dark'>
          <tr>
            {{!-- <th scope="col">#</th> --}}
            <th scope="col">Nro. ID</th>
            <th scope="col">ACTUALIZADO</th>
            <th scope="col">EMPLEADO</th>
            <th scope="col">DNI</th>
            <th scope="col">OFICINA </th>
          </tr>
        </thead>
        <tbody class='table-group-divider' id="tableBody">
          {{#each empleados}}
          <tr data-bs-toggle="collapse" data-bs-target="#collapse{{@index}}" aria-expanded="false"
            aria-controls="collapse{{@index}}">
            {{!-- <th scope="row">{{@index}}</th> --}}
            <td>{{this.dataValues.id}}</td>
            <td>{{formatDate this.dataValues.updatedAt}}</td>
            <td>{{this.dataValues.nombre}} {{this.dataValues.apellido}}</td>
            <td>{{this.dataValues.dni}}</td>
            <td>
              {{#if (eq this.dataValues.Oficina null)}}
              <div class="">
                <a href="/main/employees/addsToOffice/?userId={{this.dataValues.id}}" class="btn icon-link icon-link-hover"><i
                    class="bi bi-building-add"></i></a>
              </div>
              {{else}}
              {{!-- {{this.dataValues.Oficina}} --}}
              <p>tiene ofi</p>
              {{/if}}
            </td>
          </tr>
          <tr>
            <td colSpan="6" class="p-0">
              <div class="collapse" id="collapse{{@index}}">
                <div class="card card-body">
                  <div class="card-group mb-2">
                    <div class="card w-50 text-center border-info border-3">
                      <div class="card-body">
                        <h6 class="card-title">TELEFONO</h6>
                        <p class="card-text">{{this.dataValues.telefono}}</p>
                      </div>
                    </div>
                    <div class="card w-50 text-center border-info border-3">
                      <div class="card-body">
                        <h6 class="card-title">ROL</h6>
                        <p class="card-text">{{this.dataValues.rol}}</p>
                      </div>
                    </div>
                    <div class="card w-50 text-center border-info border-3">
                      <div class="card-body">
                        <h6 class="card-title">EMAIL</h6>
                        <p class="card-text">{{this.dataValues.email}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="card-group">
                    <div class="card w-50 text-center border-info border-3">
                      <div class="card-body">
                        <h6 class="card-title">EQUIPOS ASOCIADOS</h6>
                        <p class="card-text">
                          {{#each this.dataValues.EquipoInformaticos}}
                          {{this.id}}
                          {{/each}}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </ul>
  </div>
</main>
<script src="/js/{{fileJs}}"></script>