<main class="flex-grow-1">
  <div class="container">

    <div class="d-flex justify-content-between align-items-center my-2">
      <div class="d-flex justify-content-start align-items-center my-2">
        <img src="/assets/default_hardware.svg" alt="default user image" style="width: 6rem;"
          class="border rounded-circle me-3">
        <h1>{{datosEquipo.marca}} {{datosEquipo.modelo}}</h1>
      </div>
      <div class="d-flex justify-content-end">
        <a href="/main/inventory?estado=DISPONIBLE"><button type="button"
            class="btn btn-primary btn-sm mx-1">volver</button></a>
      </div>
    </div>

    <body>
      <div class="container mb-5">
        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-body shadow">
                <h5 class="card-title mb-3">Información del equipo</h5>
                <div class="row mx-3">

                  {{#if equipoOficina}}
                  {{#each equipoOficina}}
                  <div class="col-md-6">
                    <div class="mb-3">
                      <label for="ubicacion" class="form-label fw-medium">ubicacion del equipo</label>
                      <input type="text" class="form-control" id="oficinaNombre" value="{{this.dataValues.nombre}}"
                        readonly>
                    </div>
                  </div>
                  {{/each}}
                  {{/if}}

                  {{#if equipoEmpleado}}
                  <div class="col-md-6">
                    <div class="mb-3">
                      <label for="ubicacion" class="form-label fw-medium">ubicacion del equipo</label>
                      <input type="text" class="form-control" id="{{@key}}"
                        value="{{#if equipoEmpleado.dataValues.Oficina.nombre}}{{equipoEmpleado.dataValues.Oficina.nombre}}{{else}}No hay dato{{/if}}"
                        readonly>
                    </div>
                  </div>
                  {{/if}}

                  {{#each datosEquipo}}
                  {{#unless (eq @key "mt")}}
                  {{#unless (eq @key "estado")}}
                  {{#unless (eq @key "createdAt")}}
                  {{#unless (eq @key "deletedAt")}}
                  {{#unless (eq @key "updatedAt")}}
                  {{#unless (eq @key "EmpleadoId")}}
                  {{#unless (eq @key "Empleado")}}
                  {{#unless (eq @key "MantenimientoDeEquipos")}}
                  {{#unless (eq @key "Oficinas")}}
                  {{#unless (eq @key "precio")}}
                  {{#unless (eq @key "remitoNumero")}}
                  <div class="col-md-6">
                    <div class="mb-3">
                      <label for="{{@key}}" class="form-label fw-medium">{{@key}}</label>
                      <input type="text" class="form-control" id="{{@key}}" value="{{this}}" readonly>
                    </div>
                  </div>
                  {{/unless}}
                  {{/unless}}
                  {{/unless}}
                  {{/unless}}
                  {{/unless}}
                  {{/unless}}
                  {{/unless}}
                  {{/unless}}
                  {{/unless}}
                  {{/unless}}
                  {{/unless}}
                  {{/each}}

                  <div class="col-md-6">
                    <div class="mb-3">
                      <label for="fechaCreacion" class="form-label fw-medium">Fecha de creacion</label>
                      <input type="text" class="form-control" id="fechaCreacion"
                        value="{{formatDate datosEquipo.createdAt}}" readonly>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="mb-3">
                      <label for="fechaActualizacion" class="form-label fw-medium">ultima actualizacion</label>
                      <input type="text" class="form-control" id="fechaActualizacion"
                        value="{{formatDate datosEquipo.updatedAt}}" readonly>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>

        {{#if (eq rol "admin")}}
        {{#unless (or equipoEmpleado equipoOficina)}}
        <div class="col mt-4">
          <div class="card">
            <div class="card-body shadow">
              <div class="d-flex justify-content-around text-center">
                <div>
                  <h5 class="card-title mb-3">Entregar equipo a una persona</h5>
                  <a class="btn" data-bs-toggle="modal" data-bs-target="#agregarEquipoApersonaModal"
                    data-id="{{datosEquipo.id}}"><i class="bi bi-person-plus fs-2 text-success"></i></a>
                  {{> modal_equipo_a_persona}}
                </div>

                <div>
                  <h5 class="card-title mb-3">Entregar equipo a oficina</h5>
                  <a class="btn" data-bs-toggle="modal" data-bs-target="#agregarEquipoAoficinaModal"
                    data-id="{{datosEquipo.id}}"><i class="bi bi-pc-display fs-3 text-success">+</i></a>
                  {{> modal_equipo_a_oficina}}
                </div>
              </div>
            </div>
          </div>
        </div>
        {{/unless}}
        {{/if}}

        {{#if equipoEmpleado}}
        <div class="row mt-4">
          <div class="col">
            <div class="card">
              <div class="card-body shadow">
                <div class="d-flex justify-content-between">
                  <h5 class="card-title mb-3">Persona asociada al equipo</h5>
                  {{#if (eq rol "admin")}}
                  {{#if (eq equipoEmpleado null)}}
                  <a class="btn" data-bs-toggle="modal" data-bs-target="#agregarEquipoApersonaModal"
                    data-id="{{datosEquipo.id}}"><i class="bi bi-person-plus fs-2 text-success"></i></a>
                  {{> modal_equipo_a_persona}}
                  {{/if}}
                  {{/if}}
                </div>
                <div class="row">
                  <div class="row m-2">
                    <div class="col">
                      <div class="card">
                        {{#unless (eq equipoEmpleado null)}}
                        <div class="card-body shadow">
                          <div class="d-flex">
                            <div class="p-2 flex-fill col-md-1 fw-medium">
                              <label for="id" class="form-label fw-medium">ID</label>
                              <input type="text" class="form-control" id="id" value="{{equipoEmpleado.dataValues.id}}"
                                readonly>
                            </div>
                            <div class="p-2 flex-fill col-md-6 fw-medium">
                              <label for="tipoEquipo" class="form-label fw-medium">NOMBRE Y APELLIDO</label>
                              <input type="text" class="form-control" id="tipoEquipo"
                                value="{{equipoEmpleado.dataValues.nombre}} {{equipoEmpleado.dataValues.apellido}}"
                                readonly>
                            </div>
                            <div class="d-flex justify-content-between flex-column text-center">
                              <a class="btn" href='/main/employees/{{equipoEmpleado.dataValues.id}}'><i
                                  class="bi bi-box-arrow-in-right text-warning fs-2"></i>
                              </a>
                              {{#if (eq rol "admin")}}
                              <a class="btn fs-4"
                                onclick="removerEquipo({{datosEquipo.id}}, {{equipoEmpleado.dataValues.id}})"><i
                                  class="bi bi-x-circle text-danger"></i></a>
                              {{/if}}
                            </div>

                          </div>
                        </div>
                        {{/unless}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {{/if}}

        {{#if equipoOficina}}
        <div class="row mt-4">
          <div class="col">
            <div class="card">
              <div class="card-body shadow">
                <div class="d-flex justify-content-between">
                  <h5 class="card-title mb-3">Oficina asociada al equipo</h5>
                  {{!-- {{#if (eq rol "admin")}}
                  {{#unless (eq equipoOficina null)}}
                  <a class="btn" data-bs-toggle="modal" data-bs-target="#agregarEquipoAoficinaModal"
                    data-id="{{datosEquipo.id}}"><i class="bi bi-pc-display fs-3 text-success">+</i></a>
                  {{> modal_equipo_a_oficina}}
                  {{/unless}}
                  {{/if}} --}}
                </div>
                <div class="row">
                  <div class="row m-2">
                    <div class="col">
                      <div class="card">
                        {{#unless (eq equipoOficina null)}}
                        {{#each equipoOficina}}
                        <div class="card-body shadow">
                          <div class="d-flex">
                            <div class="p-2 flex-fill col-md-1 fw-medium">
                              <label for="id" class="form-label fw-medium">ID</label>
                              <input type="text" class="form-control" id="id" value="{{this.dataValues.id}}" readonly>
                            </div>
                            <div class="p-2 flex-fill col-md-6 fw-medium">
                              <label for="tipoEquipo" class="form-label fw-medium">NOMBRE</label>
                              <input type="text" class="form-control" id="tipoEquipo" value="{{this.dataValues.nombre}}"
                                readonly>
                            </div>
                            <div class="d-flex justify-content-between flex-column text-center">
                              <a class="btn" href='/main/offices/{{this.dataValues.id}}'><i
                                  class="bi bi-box-arrow-in-right text-warning fs-2"></i>
                              </a>
                              {{#if (eq ../rol "admin")}}
                              <a class="btn fs-4"
                                onclick="removerOficina({{../datosEquipo.id}}, {{this.dataValues.id}})"><i
                                  class="bi bi-x-circle text-danger"></i></a>
                              {{/if}}
                            </div>
                          </div>
                        </div>
                        {{/each}}
                        {{/unless}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {{/if}}

        <div class="row mt-4">
          <div class="col">
            <div class="card">
              <div class="card-body shadow">
                <h5 class="card-title mb-3">Registro de mantenimiento del equipo</h5>
                <div class="row">
                  <div class="row m-2">
                    <div class="col">
                      <div class="card">
                        {{#if (eq equipoMantenimiento null )}}
                        <div class="card-body shadow">
                          <div class="d-flex">
                            <div class="p-2 flex-fill col-md-1 fw-medium">
                              <label for="id" class="form-label fw-medium">Fecha creado</label>
                              <input type="text" class="form-control" id="id"
                                value="{{equipoMantenimiento.dataValues.createdAt}}" readonly>
                            </div>
                            <div class="p-2 flex-fill col-md-1 fw-medium">
                              <label for="id" class="form-label fw-medium">Fecha actualizado</label>
                              <input type="text" class="form-control" id="id"
                                value="{{equipoMantenimiento.dataValues.updatedAt}}" readonly>
                            </div>
                            <div class="p-2 flex-fill col-md-6 fw-medium">
                              <label for="tipoEquipo" class="form-label fw-medium">Descripcion</label>
                              <input type="text" class="form-control" id="tipoEquipo"
                                value="{{equipoMantenimiento.dataValues.descripcion}}" readonly>
                            </div>
                            <a href='/main/mantenimiento/{{equipoMantenimiento.dataValues.id}}'><i
                                class="bi bi-box-arrow-in-right text-warning fs-2"></i></a>
                          </div>
                        </div>
                        {{/if}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </body>

  </div>
</main>
<script src="/js/{{fileJs}}"></script>