<main class="flex-grow-1">

  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <h1>EQUIPOS DEL MT</h1>
      {{> menu}}
    </div>

    <div class="d-flex justify-content-between align-items-center">
      {{> menu_equipos}}
      <input class="fw-medium border-2 rounded" type="text" id="busqueda" placeholder="Buscar...">
      {{#if (eq rol "admin")}}
        <a class="btn" data-bs-toggle="modal" data-bs-target="#agregarEquipoModal"><i
            class="bi bi-plus-circle-fill fs-3 text-success">NUEVO</i></a>
        {{> modal_nuevo_equipo}}
        {{/if}}
    </div>

    <ul class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4 my-2 table-responsive">
      <table class="table table-striped table-hover text-center">
        <thead class='table-dark'>
          <tr>
            {{!-- <th scope="col">#</th> --}}
            <th scope="col">Nro. ID</th>
            <th scope="col">MT</th>
            <th scope="col">TIPO</th>
            {{!-- <th scope="col">OFICINA </th> --}}
            <th scope="col">NRO. SERIE</th>
            <th scope="col">MARCA</th>
            <th scope="col">MODELO</th>
            {{#if (eq rol "admin")}}
            <th>OPC</th>
            {{/if}}
          </tr>
        </thead>
        <tbody class='table-group-divider fs-5' id="tableBody">
          {{#each equiposInformaticos}}
          {{#if (eq this.dataValues.estado ../estado)}}
          <tr data-bs-toggle="collapse" data-bs-target="#collapse{{@index}}" aria-expanded="false"
            aria-controls="collapse{{@index}}">
            {{!-- <th scope="row">{{@index}}</th> --}}
            <td>{{this.dataValues.id}}</td>
            <td>{{checkIfDataIsNull this.dataValues.mt}}</td>
            <td>{{this.dataValues.tipoEquipo}}</td>
            <td>{{checkIfDataIsNull this.dataValues.numeroDeSerie}}</td>
            {{!-- <td>
              {{#each this.dataValues.Oficinas}}
              <span>{{this.nombre}}</span>
              {{/each}}
            </td> --}}
            <td>{{this.dataValues.marca}}</td>
            <td>{{this.dataValues.modelo}}</td>
            <td>
              <i class="bi bi-box-arrow-in-left text-success fs-3"></i>
            </td>
          </tr>
          <tr>
            <td colSpan="9" class="p-0">
              <div class="collapse" id="collapse{{@index}}">
                <div class="card card-body">

                  <div class="card-group mb-2">
                    <div class="card w-50 text-center border-info border-3">
                      <div class="card-body">
                        <h6 class="card-title">ULTIMA ACTUALIZACION</h6>
                        <p class="card-text"></p>
                        <p class="card-text">{{formatDate this.dataValues.updatedAt}}</p>
                      </div>
                    </div>
                    <div class="card w-50 text-center border-info border-3">
                      <div class="card-body">
                        <h6 class="card-title">Nro de Patrimonio</h6>
                        <p class="card-text">{{this.dataValues.numeroDePatrimonio}}</p>
                      </div>
                    </div>
                    <div class="card w-50 text-center border-info border-3">
                      <div class="card-body">
                        <h6 class="card-title">UBICACION</h6>
                        <p class="card-text">
                          {{#each this.dataValues.Oficinas}}
                          <span>{{this.nombre}}</span>
                          {{/each}}
                        </p>
                      </div>
                    </div>
                    <div class="card w-50 text-center border-info border-3">
                      <div class="card-body">
                        <h6 class="card-title">UBICACION</h6>
                        <p class="card-text">
                          {{#each this.dataValues.Oficinas}}
                          <span>{{this.nombre}}</span>
                          {{/each}}
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="card-group">
                    {{#if this.dataValues.MantenimientoDeEquipos}}
                    <div class="card-group">
                      <div class="card w-50 text-center border-0 mt-3">
                        <div class="d-flex justify-content-end">
                          <button type="button" class="btn btn-outline-warning fw-bold">
                            VER HISTORIAL DE MANTENIMIENTO
                          </button>
                        </div>
                      </div>
                      {{/if}}
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          {{else}}
          {{/if}}
          {{/each}}
        </tbody>
      </table>
    </ul>
  </div>
</main>
<script src="/js/{{fileJs}}"></script>