<main class="flex-grow-1">

  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <h1>EQUIPOS DEL MT</h1>
      {{> menu}}
    </div>

    <div class="d-flex justify-content-between align-items-center">
      {{> menu_equipos}}
      <input class="fw-medium border-2 rounded" type="text" id="busqueda" placeholder="Buscar...">
      {{#if (eq rol "admin")}}
      <a class="btn" data-bs-toggle="modal" data-bs-target="#agregarEquipoModal"><i
          class="bi bi-pc-display fs-1 text-success">+</i></a>
      {{> modal_nuevo_equipo}}
      {{/if}}
    </div>

    <ul class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4 my-2 table-responsive">
      <table class="table table-striped table-hover text-center">
        <thead class='table-dark'>
          <tr>
            {{!-- <th scope="col">#</th> --}}
            <th scope="col">Nro. ID</th>
            <th scope="col">MT</th>
            <th scope="col">TIPO</th>
            {{!-- <th scope="col">OFICINA </th> --}}
            <th scope="col">NRO. SERIE</th>
            <th scope="col">MARCA</th>
            <th scope="col">MODELO</th>
            <th>OPCIONES</th>
          </tr>
        </thead>
        <tbody class='table-group-divider fs-5' id="tableBody">
          {{#each equiposInformaticos}}
          {{#if (eq this.dataValues.estado ../estado)}}
          <tr>
            {{!-- <th scope="row">{{@index}}</th> --}}
            <td>{{this.dataValues.id}}</td>
            <td>{{checkIfDataIsNull this.dataValues.mt}}</td>
            <td>{{this.dataValues.tipoEquipo}}</td>
            <td>{{checkIfDataIsNull this.dataValues.numeroDeSerie}}</td>
            {{!-- <td>
              {{#each this.dataValues.Oficinas}}
              <span>{{this.nombre}}</span>
              {{/each}}
            </td> --}}
            <td>{{this.dataValues.marca}}</td>
            <td>{{this.dataValues.modelo}}</td>
            <td>
              <div class="d-flex justify-content-around">
                <a class="btn fs-3" href='/main/inventory/{{this.dataValues.id}}'><i
                    class="bi bi-box-arrow-in-right text-success"></i></a>
                {{#if (eq ../rol "admin")}}
                <a class="btn fs-4" onclick="deleteUser({{this.dataValues.id}})"><i
                    class="bi bi-x-circle text-danger"></i></a>
                {{/if}}
              </div>
            </td>
          </tr>
          {{/if}}
          {{/each}}
        </tbody>
      </table>
    </ul>
  </div>
</main>
<script src="/js/{{fileJs}}"></script>