<main class="flex-grow-1">

  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <h1>Vista principal del inventario MT</h1>
      {{> menu}}
    </div>

    <div class="d-flex justify-content-between align-items-center">
      {{> menu_equipos}}
      <input class="fw-medium border-2 rounded" type="text" id="busqueda" placeholder="Buscar...">
      {{#if (eq rol "admin")}}
      <a class="btn" href=""><i class="bi bi-plus-circle-fill fs-2 text-success">NUEVO</i></a>
      {{/if}}
    </div>

    <ul class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4 my-2">
      <table class="table table-striped table-hover text-center">
        <thead class='table-dark'>
          <tr>
            {{!-- <th scope="col">#</th> --}}
            <th scope="col">Nro. ID</th>
            <th scope="col">ACTUALIZADO</th>
            <th scope="col">MT</th>
            <th scope="col">TIPO</th>
            <th scope="col">USUARIO</th>
            <th scope="col">OFICINA </th>
            {{#if (eq rol "admin")}}
            <th>OPC</th>
            {{/if}}
          </tr>
        </thead>
        <tbody class='table-group-divider fs-4' id="tableBody">
          {{#each equiposInformaticos}}
          {{#if (eq this.dataValues.estado ../estado)}}
          <tr data-bs-toggle="collapse" data-bs-target="#collapse{{@index}}" aria-expanded="false"
            aria-controls="collapse{{@index}}">
            {{!-- <th scope="row">{{@index}}</th> --}}
            <td>{{this.dataValues.id}}</td>
            <td>{{formatDate this.dataValues.updatedAt}}</td>
            <td>{{checkIfDataIsNull this.dataValues.mt}}</td>
            <td>{{this.dataValues.tipoEquipo}}</td>
            <td>{{this.dataValues.Empleado.nombre}} {{this.dataValues.Empleado.apellido}}</td>
            <td>
              {{#each this.dataValues.Oficinas}}
              <span>{{this.nombre}}</span>
              {{/each}}
            </td>
            <td>
              <i class="bi bi-pencil-square text-warning"></i>
              <i class="bi bi-x-circle text-danger"></i>
            </td>
          </tr>
          <tr>
            <td colSpan="6" class="p-0">
              <div class="collapse" id="collapse{{@index}}">
                <div class="card card-body">
                  <div class="card-group mb-2">
                    <div class="card w-50 text-center border-info border-3">
                      <div class="card-body">
                        <h6 class="card-title">Nro de serie</h6>
                        <p class="card-text">{{this.dataValues.numeroDeSerie}}</p>
                      </div>
                    </div>
                    <div class="card w-50 text-center border-info border-3">
                      <div class="card-body">
                        <h6 class="card-title">Nro de Patrimonio</h6>
                        <p class="card-text">{{this.dataValues.numeroDePatrimonio}}</p>
                      </div>
                    </div>
                    <div class="card w-50 text-center border-info border-3">
                      <div class="card-body">
                        <h6 class="card-title">Observación</h6>
                        <p class="card-text">{{this.dataValues.observacion}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="card-group">
                    <div class="card w-50 text-center border-info border-3">
                      <div class="card-body">
                        <h6 class="card-title">Especificaciones Técnicas</h6>
                        <p class="card-text">{{this.dataValues.especificacionesTecnicas}}</p>
                      </div>
                    </div>
                    <div class="card w-50 text-center border-info border-3">
                      <div class="card-body">
                        <h6 class="card-title">Precio</h6>
                        <p class="card-text">{{this.dataValues.precio}}</p>
                      </div>
                    </div>
                    <div class="card w-50 text-center border-info border-3">
                      <div class="card-body">
                        <h6 class="card-title">Edificio/Lugar</h6>
                        <p class="card-text">
                          {{#each this.dataValues.Oficinas}}
                          <span>{{this.nombre}}</span>
                          {{/each}}
                        </p>
                      </div>
                    </div>
                  </div>
                  {{#if this.dataValues.MantenimientoDeEquipos}}
                  <div class="card-group">
                    <div class="card w-50 text-center border-0 mt-3">
                      <p class="fw-medium fst-italic"> este equipo tiene mantenimiento realizado</p>
                      <button type="button" class="btn btn-outline-warning fw-bold">VER HISTORIAL DE
                        MANTENIMIENTO</button>
                    </div>
                    {{/if}}
                  </div>
                </div>
              </div>
            </td>
          </tr>
          {{else}}
          {{/if}}
          {{/each}}
        </tbody>
      </table>
    </ul>
  </div>
</main>
<script src="/js/{{fileJs}}"></script>