<main class="flex-grow-1">
  <div class="container">

    <div class="d-flex justify-content-between align-items-center my-2">
      <div class="d-flex justify-content-start align-items-center my-2">
        <img src="/assets/oficina.jpg" alt="default office image" style="width: 6rem; height: 6rem;"
          class="border rounded-circle me-3">
        <h1>{{datosOficina.nombre}}</h1>
      </div>
      <div class="d-flex justify-content-end">
        <a href="/main/offices"><button type="button" class="btn btn-primary btn-sm mx-1">volver</button></a>
      </div>
    </div>

    <body>
      <div class="container mb-5">
        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-body shadow">
                <h5 class="card-title mb-3">Información de la oficina</h5>
                <div class="row mx-3">
                  {{#each datosOficina}}
                  {{#unless (eq @key "Lugar")}}
                  {{#unless (eq @key "LugarId")}}
                  {{#unless (eq @key "Empleados")}}
                  {{#unless (eq @key "deletedAt")}}
                  {{#unless (eq @key "updatedAt")}}
                  {{#unless (eq @key "createdAt")}}
                  {{#unless (eq @key "Dependencias")}}
                  {{#unless (eq @key "EquipoInformaticos")}}
                  <div class="col-md-6">
                    <div class="mb-3">
                      <label for="{{@key}}" class="form-label fw-medium">{{@key}}</label>
                      <input type="text" class="form-control" id="{{@key}}" value="{{this}}" readonly>
                    </div>
                  </div>
                  {{/unless}}
                  {{/unless}}
                  {{/unless}}
                  {{/unless}}
                  {{/unless}}
                  {{/unless}}
                  {{/unless}}
                  {{/unless}}
                  {{/each}}
                  <div class="col-md-6">
                    <div class="mb-3">
                      <label for="edificio" class="form-label fw-medium">Edificio donde se encuentra</label>
                      <input type="text" class="form-control" id="{{@key}}" value="{{datosOficina.Lugar.nombre}}"
                        readonly>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col">
            <div class="card">
              <div class="card-body shadow">
                <div class="d-flex justify-content-between">
                  <h5 class="card-title mb-3">Empleados asociados a la oficina</h5>
                  {{#if (eq rol "admin")}}
                  {{#unless (eq oficinaEmpleados null)}}
                  <a class="btn" data-bs-toggle="modal" data-bs-target="#agregarEmpleadoAoficinaModal"
                    data-id="{{datosOficina.id}}"><i class="bi bi-person-plus fs-2 text-success"></i></a>
                  {{> modal_persona_a_oficina}}
                  {{/unless}}
                  {{/if}}
                </div>
                <div class="row">
                  <div class="row m-2">
                    <div class="col">
                      <div class="card shadow">
                        {{#unless (eq oficinaEmpleados null)}}
                        {{#each oficinaEmpleados}}
                        <div class="card-body">
                          <div class="d-flex">
                            <div class="p-2 flex-fill col-md-1 fw-medium">
                              <label for="id" class="form-label fw-medium">ID</label>
                              <input type="text" class="form-control" id="id" value="{{this.dataValues.id}}" readonly>
                            </div>
                            <div class="p-2 flex-fill col-md-6 fw-medium">
                              <label for="tipoEquipo" class="form-label fw-medium">NOMBRE Y APELLIDO</label>
                              <input type="text" class="form-control" id="tipoEquipo"
                                value="{{this.dataValues.nombre}} {{this.dataValues.apellido}}" readonly>
                            </div>
                            <div class="d-flex justify-content-between flex-column text-center">
                              <a href='/main/employees/{{this.dataValues.id}}'><i
                                  class="bi bi-box-arrow-in-right text-warning fs-2"></i>
                              </a>
                              {{#if (eq ../rol "admin")}}
                              <a class="btn fs-4"
                                onclick="removerEmpleado({{../datosOficina.id}}, {{this.dataValues.id}})"><i
                                  class="bi bi-x-circle text-danger"></i></a>
                              {{/if}}

                            </div>
                          </div>
                        </div>
                        {{/each}}
                        {{/unless}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col">
            <div class="card shadow">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <h5 class="card-title mb-3">Equipos asociados a la oficina</h5>
                  {{#if (eq rol "admin")}}
                  {{#unless (eq oficinaEquipos null)}}
                  <a class="btn" data-bs-toggle="modal" data-bs-target="#agregarEquipoAoficinaModal"
                    data-id="{{oficinaEquipos.id}}"><i class="bi bi-pc-display fs-3 text-success">+</i></a>
                  {{> modal_equipo_a_oficina}}
                  {{/unless}}
                  {{/if}}
                </div>
                <div class="row">
                  <div class="row m-2">
                    <div class="col">
                      <div class="card">
                        {{#if (eq oficinaEquipos null )}}
                        <div class="card-body shadow">
                          <div class="d-flex">
                            <div class="p-2 flex-fill col-md-1 fw-medium">
                              <label for="id" class="form-label fw-medium">Fecha creado</label>
                              <input type="text" class="form-control" id="id"
                                value="{{oficinaEquipos.dataValues.createdAt}}" readonly>
                            </div>
                            <div class="p-2 flex-fill col-md-1 fw-medium">
                              <label for="id" class="form-label fw-medium">Fecha actualizado</label>
                              <input type="text" class="form-control" id="id"
                                value="{{oficinaEquipos.dataValues.updatedAt}}" readonly>
                            </div>
                            <div class="p-2 flex-fill col-md-6 fw-medium">
                              <label for="tipoEquipo" class="form-label fw-medium">Descripcion</label>
                              <input type="text" class="form-control" id="tipoEquipo"
                                value="{{oficinaEquipos.dataValues.descripcion}}" readonly>
                            </div>
                            <a href='/main/mantenimiento/{{oficinaEquipos.dataValues.id}}'><i
                                class="bi bi-box-arrow-in-right text-warning fs-2"></i></a>
                          </div>
                        </div>
                        {{/if}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col">
            <div class="card">
              <div class="card-body shadow">
                <div class="d-flex justify-content-between">
                  <h5 class="card-title mb-3">Oficinas asociadas (sub-oficinas)</h5>
                  {{#if (eq rol "admin")}}
                  {{#unless (eq oficinaDependecias null)}}
                  <a class="btn" data-bs-toggle="modal" data-bs-target="#agregarEmpleadoAoficinaModal"
                    data-id="{{oficinaDependecias.id}}"><i class="bi bi-building-add text-success fs-2"></i></a>
                  {{!-- {{> modal_persona_a_oficina}} --}}
                  {{/unless}}
                  {{/if}}
                </div>
                <div class="row">
                  {{#each oficinaDependecias}}
                  {{#unless (eq oficinaDependecias null )}}
                  <div class="row m-2">
                    <div class="col">
                      <div class="card">
                        <div class="card-body shadow">
                          <div class="d-flex">
                            <div class="p-2 flex-fill col-md-2 fw-medium">
                              <label for="id" class="form-label fw-medium">ID</label>
                              <input type="text" class="form-control" id="id" value="{{this.dataValues.id}}" readonly>
                            </div>
                            <div class="p-2 flex-grow-1 col-md-6 fw-medium">
                              <label for="tipoEquipo" class="form-label fw-medium">NOMBRE</label>
                              <input type="text" class="form-control" id="tipoEquipo" value="{{this.dataValues.nombre}}"
                                readonly>
                            </div>

                            <a href='/main/offices/{{this.dataValues.id}}'><i
                                class="bi bi-box-arrow-in-right text-warning fs-2"></i></a>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  {{/unless}}
                  {{/each}}
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </body>

  </div>
</main>
<script src="/js/{{fileJs}}"></script>