<main class="flex-grow-1">

  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <h1>OFICINAS DEL MT</h1>
      {{> menu}}
    </div>

    <body>
      <div class="d-flex justify-content-between align-items-center">
        <input class="fw-medium border-2 rounded" type="text" id="busqueda" placeholder="Buscar...">
        {{#if (eq rol "admin")}}
        <a class="btn" data-bs-toggle="modal" data-bs-target="#agregarOficinaModal"><i
            class="bi bi-building-add fs-1 text-success"></i></a>
        {{> modal_nueva_oficina}}
        {{/if}}
      </div>

      <ul class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4 my-4 table-responsive">
        <table class="table align-middle table-striped table-hover text-center">
          <thead class='table-dark'>
            <tr>
              {{!-- <th scope="col">ACTUALIZADO</th> --}}
              <th scope="col">NOMBRE</th>
              <th scope="col">LUGAR</th>
              <th scope="col"></th>
              {{#if (eq rol "admin")}}
              <th>OPC</th>
              {{/if}}
            </tr>
          </thead>
          <tbody class='table-group-divider fs-4' id="tableBody">
            {{#each oficinas}}
            <tr aria-expanded="false" aria-controls="collapse{{@index}}">
              <td class="fs-5">{{this.dataValues.nombre}}</td>
              <td>
                {{#if (eq this.dataValues.Lugar null)}}
                <p>SIN EDIFICIO ASIGNADO</p>
                {{else}}
                {{this.dataValues.Lugar.nombre}}
                {{/if}}
              </td>
              {{#if (eq ../rol "admin")}}
              <td>
                <span class="" title="cantidad de empleados"><i class="bi bi-person-arms-up ms-2"></i><span class="me-2"> {{count
                    this.dataValues.Empleados}}</span></span>
                <span class="" title="cantidad de equipos"><i class="bi bi-pc-display ms-2"></i><span class="me-2"> {{count
                    this.dataValues.EquipoInformaticos}}</span></span>
                <span class="" title="cantidad de sub oficinas"><i class="bi bi-building-fill-down ms-2"></i><span class="me-2"> {{count
                    this.dataValues.Dependencias}}</span></span>
              </td>
              <td>
                <a href='/main/offices/{{this.dataValues.id}}' title="ver más"><i
                    class="bi bi-box-arrow-in-right text-success fs-4"></i></a>
              </td>
              {{/if}}
            </tr>
            {{/each}}
          </tbody>
        </table>
      </ul>
    </body>

  </div>
</main>
<script src="/js/{{fileJs}}"></script>